<div class="tl_info plenta-loki-wrapper">
    <div class="plenta-loki-box">
        Loki AI ({{ version }})
    </div>
    <div class="plenta-loki-box">
        <a href="https://plenta.io/contao-loki-ai-bundle?utm_source=contao-backend&utm_medium=link&utm_campaign=plenta-loki-ai&utm_content=info-message-block&utm_term=documentation" title="{{ 'MSC.PLENTA_LOKI.DASHBOARD.documentation'|trans({}, 'contao_default') }}" target="_blank">{{ 'MSC.PLENTA_LOKI.DASHBOARD.documentation'|trans({}, 'contao_default') }}</a> -
        <a href="https://github.com/plenta/loki-ai-bundle/issues" title="{{ 'MSC.PLENTA_LOKI.DASHBOARD.report_error'|trans({}, 'contao_default') }}" target="_blank">{{ 'MSC.PLENTA_LOKI.DASHBOARD.report_error'|trans({}, 'contao_default') }}</a> -
        <a href="https://github.com/sponsors/plenta" title="{{ 'MSC.PLENTA_LOKI.DASHBOARD.sponsor'|trans({}, 'contao_default') }}" target="_blank">{{ 'MSC.PLENTA_LOKI.DASHBOARD.sponsor'|trans({}, 'contao_default') }}</a>
    </div>
</div>