{% trans_default_domain 'contao_default' %}

<div class="loki-prompt-button">
    <button data-id="{{ field.id }}" data-field="{{ widget.name }}" data-object-id="{{ objectId }}" data-prefix="{{ path('contao_backend') }}" type="button" aria-label="{{ field.parent.title }}" title="{{ field.parent.title }}"></button>
</div>